.aboutme__container{
    
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 18px;
    color: #404040;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;

}

.aboutme{
    
    text-align: left;
    margin: 20px 300px;
    padding: 30px 100px;
    position: relative;

}

.aboutme h1{
    color:#97BC62FF;
}

.aboutme img{
    width: 20px;
    height: 20px;
}
.aboutme p{
    padding:10px 5px;
}

.skills{
    
    text-align: left;
    margin: 20px 300px;
    padding: 30px 100px;
    position: relative;
}

.skills h1{
    color: #97BC62FF;
}

.techno{
    
    text-align: left;
    margin: 30px 300px;
    padding: 30px 100px;
    position: relative;
}

.techno h1{
    margin-bottom: 20px;
    color: #97BC62FF;
}

.techno li{
    display: inline;
    padding: 2px 5px;
}

.techno img{
    height: 30px;
    width: 30px;
}

.techno strong{
    padding-bottom: 5px;
}

.communicate{
    
    text-align: center;
    margin: 0 auto;
    padding: 30px 100px;
    position: relative;
    background-color: rgb(236, 114, 0);

}

.communicate h1{
    margin-bottom: 30px;
    color:  #404040;
}

.communicate button{
    display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    
}

.communicate button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .communicate  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .communicate button:hover span {
    padding-right: 25px;
  }
  
  .communicate button:hover span:after {
    opacity: 1;
    right: 0;
  }
@media screen and (max-width:960px){
    .aboutme, .skillls, .techno{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 0;
    }
    .skills{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 0;
    }
    .communicate button{
        margin-left: -30px;
    }

}